//shared
$brown : rgb(54, 47, 45);
$beige : rgb(238, 233, 211);
$yellow: rgb(171, 159, 21);
$cyan: rgb(0, 175, 236);

* {
  box-sizing: border-box;
}

.group:before, //clearfix hack
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

body {
  margin: 0;
	background-color: $beige;
  color: black;
}

.navbar.row {
  max-width : 100rem;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.current-link a:link, .current-link a:visited{
	color: $cyan !important;
}

.page-title {
	font-size: 2.5em;
	text-align: center;
	color: black;
}

.copyright {
  width: 400px;
  font-size: 0.6em;
  margin: 50px auto 0px auto;
  padding: 5px 0px;
  background-color: $brown;
  color: $beige;
  text-align: center;

  a {
    color: $beige !important;
  }
  a:hover {
    color: $yellow !important;
  }
}

.copyright-no-bg {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  margin-top: 50px;
  color: gray;
}

//home and art landing

.decorative-top-bar {
  height: 20px;
  background-color: $brown;
  margin: 0 auto;
}

.title-img {
  width: 600px;
  height: auto;
  display: block;
  margin: 70px auto 10px auto;
}

.swapped-img-position {
  display: block;
  margin: 0 auto;
  height: 350px;
}

#art-landing-img {
  margin-top: 100px;
}

.links-wrapper {
  display: block;
  margin: 50px auto;
  padding: 0px 30px;
  width: 400px;

  a {
    text-align: center;
  }
}

#art-page-links {
  margin: 50px auto;
  display: block;
  text-align: center;

  a {
    line-height: 2em;
  }
}

//books page

.books-wrapper {
  margin: 100px auto;
}

.book-link-wrapper {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 0.8em;
  position: relative;

  img {
    display: block;
    margin: 0px auto;
  }
}

.bar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: $brown;
}

.left-bar {
  left: 0px;
}

.right-bar {
  right: 0px;
}

//img gallery

.gallery-header {
  text-align: center;
  background-color: $brown;
  border-bottom: 2px solid $yellow;
  width: 100%;
  img {
    height: 70px;
    margin-top: 20px;
  }
}

.sold-text {
  text-align: left;
  font-style: italic;
  margin: 0px 150px;
  width: 100%;
  position: absolute;
  top: 185px;
  left: -30px;
}

.img-gallery {
  margin: 80px 150px 0px 150px;
}

.red-dot {
  background-image: url('../images/red-circle.png');
  background-size: cover;
  width: 8px;
  height: 8px;
  margin: 0px 5px;
  float: left;
  position: relative;
  top: 5px;
}

.img-caption-bundle {
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  padding: auto 0px;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
		margin: auto;
    text-align: center;
	}

  .img-caption {
    font-size: 0.8em;
    position: relative;
    left: 5%;
  }

}

#painting-gal .img-caption-bundle {
  margin-bottom: 60px;
}

.img-caption-bundle:hover {
	text-decoration: none;
}

.img-caption-bundle:last-child {
	visibility:hidden;
}

.lb-image {
	max-height: 80vh !important;
  width: auto !important;
	max-width: 90vw !important;
  height: auto !important;
}

.lb-caption {
	text-align: center;
}

//about page
#about-info {
  margin: 150px 200px 0px 200px;

  #contact-info {
    line-height: 0.8em;
    margin-bottom: 40px;
  }

  .about-page-section {
    clear: both;
    padding: 0px 60px;
    margin: 50px 0px;
  }

  .section-title {
    font-size: 25px;
    text-align: left;
  }

  #bio {
    clear: both;
    margin-top: 100px;
  }

  #exhibits, #galleries {
    //text-align: center;
  }

  #exhibits {
    iframe {
      text-align: center;
    }
  }
}


//from crispie.css (orig css file)

p {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: .9em;
}

p.indent {
  margin-left: 50px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: .9em;
  margin-right: 10%;
}

p.purchase {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: .8em;
  text-align: left;
}

body {
  top: 20px;
  font-size: 100%;
}

a:link {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: rgb(90, 89, 89);
  font-size: 100%;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: rgb(90, 89, 89);
  font-size: 100%;
  text-decoration: none;
  font-weight: bold;
}

a:active {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: $yellow;
  font-size: 100%;
  font-weight: bold;
}

a:hover {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: $yellow;
  font-size: 100%;
  font-weight: bold;
}

p.fineprint {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: rgb(90, 89, 89);
  font-size: 1em;
  text-align: left;
  margin-left: 10px;
}

td.withline {
  border-top: 1px $yellow solid;
  border-left: 1px $yellow solid;
}

h1 {
  //font-family: Georgia, Times, "Times New Roman", serif;
  //font-size: 16px;
  //text-align: right;
  //color: #666666;
}

td.topline {
  border-top: 1px $yellow solid;
}

.nav-link{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  background-color: #333333;
  text-align: center;
  color: $yellow;
  padding: 5px 0px;
}

a.nav:link {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #cccccc;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 100%;
}

a.nav:visited {
  text-decoration: none;
  color: #cccccc;
  font-size: 100%;
}

a.nav:active {
  color: $yellow;
  text-decoration: underline;
  font-size: 100%;
}

a.nav:hover {
  color: $yellow;
  text-decoration: underline;
  font-size: 100%;
}

td.copyright {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: .6em;
  text-align: center;
}

a.copyright:link {
  font-size: 100%;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

a.copyright:visited {
  font-size: 100%;
  text-decoration: none;
  font-weight: bold;
}

a.copyright:active {
  font-size: 100%;
  color: $yellow;
  text-decoration: underline;
  font-weight: bold;
}

a.copyright:hover {
  font-size: 100%;
  color: $yellow;
  text-decoration: underline;
  font-weight: bold;
}

a.twelve:link {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
}

a.twelve:visited {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
}

a.twelve:active {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: $yellow;
  font-size: 1em;
  font-weight: bold;
}

a.twelve:hover {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: $yellow;
  font-size: 1em;
  font-weight: bold;
}

li {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: .9em;
}

h2 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 1em;
  font-weight: bold;
}

//media query
@media (max-width: 700px) {
  .nav-link {
    font-size: 0.55em;
  }
}