* {
  box-sizing: border-box; }

.columns:before,
.columns:after,
.row:before,
.row:after {
  content: normal !important; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

body {
  margin: 0;
  background-color: #eee9d3;
  color: black; }

.navbar.row {
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.current-link a:link, .current-link a:visited {
  color: #00afec !important; }

.page-title {
  font-size: 2.5em;
  text-align: center;
  color: black; }

.copyright {
  font-size: 0.6em;
  margin: 50px auto 0px auto;
  padding: 5px 0px;
  background-color: #362f2d;
  color: #eee9d3;
  text-align: center; }
  .copyright a {
    color: #eee9d3 !important; }
  .copyright a:hover {
    color: #ab9f15 !important; }

.copyright-no-bg {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  margin-top: 50px;
  color: gray; }

.decorative-top-bar {
  height: 20px;
  background-color: #362f2d;
  margin: 0 auto; }

.title-row {
  max-height: 180px; }

.title-img {
  width: 600px !important;
  height: auto !important;
  display: block;
  margin: 70px auto 10px auto; }

.swapped-img-position {
  display: block;
  margin: 0 auto; }

#art-landing-img {
  margin-top: 100px; }

.links-wrapper {
  display: block;
  margin: 50px auto;
  padding: 0px 30px; }
  .links-wrapper a {
    text-align: center; }

#art-page-links {
  margin: 50px auto;
  display: block;
  text-align: center; }
  #art-page-links a {
    line-height: 2em; }

.books-wrapper {
  margin: 100px auto; }

.book-link-wrapper {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 0.8em;
  position: relative; }
  .book-link-wrapper img {
    display: block;
    margin: 0px auto; }

.bar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: #362f2d; }

.left-bar {
  left: 0px; }

.right-bar {
  right: 0px; }

.gallery-header {
  text-align: center;
  background-color: #362f2d;
  border-bottom: 2px solid #ab9f15;
  width: 100%; }
  .gallery-header img {
    height: 70px;
    margin-top: 20px; }

.sold-text {
  text-align: left;
  font-style: italic;
  margin: 0px 150px;
  width: 200px;
  position: absolute;
  top: 185px;
  left: 5%; }

.img-gallery {
  margin: 80px 150px 0px 150px; }

.red-dot {
  background-image: url("../images/red-circle.png");
  background-size: cover;
  width: 8px;
  height: 8px;
  margin: 0px 5px;
  float: left;
  position: relative;
  top: 5px; }

.img-caption-bundle {
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  padding: auto 0px; }
  .img-caption-bundle img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    text-align: center; }
  .img-caption-bundle .img-caption {
    font-size: 0.8em;
    position: relative;
    left: 5%; }

#painting-gal .img-caption-bundle {
  margin-bottom: 60px; }

.img-caption-bundle:hover {
  text-decoration: none; }

.img-caption-bundle:last-child {
  visibility: hidden; }

.lb-image {
  max-height: 80vh !important;
  width: auto !important;
  max-width: 90vw !important;
  height: auto !important; }

.lb-caption {
  text-align: center; }

#about-info {
  margin-top: 60px; }
  #about-info img {
    max-height: 300px;
    object-fit: contain;
    text-align: left; }
  #about-info #contact-info {
    margin-top: 10%; }
  #about-info p {
    line-height: 1em; }

#calendar-text {
  clear: both;
  margin-top: 15px; }

.about-page-section {
  margin: 30px auto; }

p {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: .9em; }

p.indent {
  margin-left: 50px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: .9em;
  margin-right: 10%; }

p.purchase {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: .8em;
  text-align: left; }

body {
  top: 20px;
  font-size: 100%; }

a:link {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #5a5959;
  font-size: 100%;
  text-decoration: none;
  font-weight: bold; }

a:visited {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #5a5959;
  font-size: 100%;
  text-decoration: none;
  font-weight: bold; }

a:active {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #ab9f15;
  font-size: 100%;
  font-weight: bold; }

a:hover {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #ab9f15;
  font-size: 100%;
  font-weight: bold; }

p.fineprint {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #5a5959;
  font-size: 1em;
  text-align: left;
  margin-left: 10px; }

td.withline {
  border-top: 1px #ab9f15 solid;
  border-left: 1px #ab9f15 solid; }

td.topline {
  border-top: 1px #ab9f15 solid; }

.nav-link {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  background-color: #333333;
  text-align: center;
  color: #ab9f15;
  padding: 5px 0px; }

a.nav:link {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #cccccc;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 100%; }

a.nav:visited {
  text-decoration: none;
  color: #cccccc;
  font-size: 100%; }

a.nav:active {
  color: #ab9f15;
  text-decoration: underline;
  font-size: 100%; }

a.nav:hover {
  color: #ab9f15;
  text-decoration: underline;
  font-size: 100%; }

td.copyright {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: .6em;
  text-align: center; }

a.copyright:link {
  font-size: 100%;
  text-decoration: none;
  text-align: center;
  font-weight: bold; }

a.copyright:visited {
  font-size: 100%;
  text-decoration: none;
  font-weight: bold; }

a.copyright:active {
  font-size: 100%;
  color: #ab9f15;
  text-decoration: underline;
  font-weight: bold; }

a.copyright:hover {
  font-size: 100%;
  color: #ab9f15;
  text-decoration: underline;
  font-weight: bold; }

a.twelve:link {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold; }

a.twelve:visited {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold; }

a.twelve:active {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #ab9f15;
  font-size: 1em;
  font-weight: bold; }

a.twelve:hover {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #ab9f15;
  font-size: 1em;
  font-weight: bold; }

li {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: .9em; }

h2 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 1em;
  font-weight: bold; }

@media (max-width: 700px) {
  .nav-link {
    font-size: 0.55em; }

  #art-page-links {
    font-size: 0.7em; } }

/*# sourceMappingURL=main.css.map */
